* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    background-color: #151d27;
    overflow-x: hidden;

}

#cabecalho {
    width: 100%;
    height: 10vh;
    background-color: #11233a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho p{
    position: relative;
    left: 0px;
}

#carrinho{
    width: 4vw;
    height: 4vw;
    position: relative;
    left: 18vw;
    top: 1vh;
}


#cabecalho ul{
    transform: translate(-30%);
}

#cabecalho ul li{
    display: inline-block;
    width: fit-content;
    margin-top: auto;
}

#cabecalho ul li h3{
    font-size: 2vw;
    color: white;
}

#cabecalho ul li a{
    text-decoration: none;
    align-items: center;
    color: white;
    width: fit-content;
    font-size: 1.5vw;
    margin-left: 5vw;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #11233a;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

.footer-content{
    width: 100%;
}

#git{
    width: 3vw;
    height: 3vw;
}

.section{
    background-color: #0000;
}

#section-one {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/Images/background.jpg);
}

#section-two{
    margin-top: 3vh;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#section-three{
    height: 30vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

#forms{
    width: 30vw;
    min-width: 30vw;
    background-color: #263241;
    border: white;
    border-style: solid;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#formulario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 25vw;
    height: fit-content;
}

input[type=text]{
    width: 80%;
    border-radius: 5px;
    border: 0;
    padding: 5px;
}

input[type=email]{
    width: 80%;
    border-radius: 5px;
    border: 0;
    padding: 5px;
}

input[type=submit]{
    width: fit-content;
    border: 0;
    padding: 5px;
    font-size: calc(70% + 0.8vmin);
}

input{
    margin: 2px 0;
}

.input-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario h1{
    width: 100%;
    color: white;
    text-align: center;
    margin: 5px 0;
    font-size: calc(90% + 0.8vmin);
}

.ofertas{
    width: 30vw;
    height: 30vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 14, 68);
    border-radius: 50px;
    left: 30%;
    top: 40%;
    transform: translate(-50%);
    border: white;
    border-style: solid;
}

#textos{
    display: flex;
    align-items: center;
    justify-content: center;
}

#brinde {
    width: 30vw;
    height: 20vw;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(+50%, -50%);
    border-style: solid;
    border: rgb(26, 112, 82);
    background-image: linear-gradient(to right, rgb(148, 148, 148), rgb(255, 255, 255));

}

#brinde h2{
    text-align: center;
    font-size: 2vw;
}

#brinde img {
    width: 10vw;
    height: 10vw;
}

.ofertas h2{
    text-align: center;
    color: white;
    font-size: 2vw;
}

#GameSection ul{
    list-style: none;
    
}

#GameSection ul li{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
    transition: transform .2s;

}

.GameLink{
    text-decoration: none;
}

.games{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.808);
    width: 26vw;
    background-color: #263241;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
}

.games img{
    width: 60%;
    height: 60%;
}

.games h4{
    font-size: 90%;
    text-decoration: none;
    color: white;
}

.games p{
    background-color: #384657;
    color: rgb(199, 199, 199);
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    font-size: 100%;
}


#GameSection ul li:hover{
    transform: scale(1.2)
}

@media screen and (max-width: 600px) {
    .games {
      width: 80%;
      display: block;
    }
    #GameSection ul li{
        display: block;
        margin-left: 5%;
        margin-top: 2%;
        transition: transform .2s;
    
    }
}

@media(max-width: 770px){
    input{
        width: 90%;
    }

    
}

@media(max-width: 1000px){
    #forms{
        min-width: 60%;
    }

    #formulario{
        min-width: 80%;
    }
}